.cards-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.card-tasklist {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0 17px 0 30px;
  height: 72px;
  background: #272b38;
  box-shadow: 0 10px 6px rgba(25, 30, 47, 0.32);
}

.tasklist-text {
  display: flex;
  flex-flow: column;
}

.taskcard {
  display: grid;
  grid-template-columns: 3fr 1fr;
  width: 100%;
  height: 50px;
  background: #272b38;
  align-items: center;
  padding: 15px;
  border-radius: 3px;
  transition: filter 300ms;
}

.taskcard:hover {
  filter: brightness(1.2);
}

.taskcard-input {
  align-self: flex-start;
  display: flex;
}

.input-label {
  flex-grow: 10;
}

.taskcard-input input {
  margin-right: 22px;
}
.input-label input {
  background: none;
  width: 100%;
}

.taskList-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px;
  background: #242834;
  border-radius: 50%;
}
.dropbox {
  position: absolute;
  top: 70%;
  right: 10px;
  width: 120px;
  max-width: 200px;
  height: auto;
  z-index: 5;
}

.dropbox-list {
  display: flex;
  flex-flow: column;
}
.dropbox-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 17px 0;
  padding-left: 15px;
  background: #272b38;
  box-shadow: 0 10px 15px rgba(25, 30, 47, 0.32);
  transition: filter 300ms;
}
.dropbox-item:hover {
  filter: brightness(1.5);
}

.status-completed::before {
  background: green;
}

.taskcard-status {
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.taskcard-status {
  font-size: 12px;
}

.status-indicator {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin-right: 8px;
  display: inline-block;
}

.status-completed {
  background: #1eb980;
}

.status-to-do {
  background: #4186ff;
}
