.layout-container {
  display: grid;
  grid-template-columns: 10px 1fr 10px;
  grid-template-rows: 100px 50px 1fr;
  grid-template-areas:
    ". header ."
    ". actionBar ."
    ". body .";
}

header.layout-header {
  grid-area: header;
  display: flex;
  flex-flow: column;
  height: 100px;
  border-bottom: 1px solid #eeeeee;
  padding: 10px 10px 20px 10px;
}
header .page-title {
  padding: 0 20pt;
}

.header-icons {
  display: flex;
  justify-content: space-between;
}
.avatar {
  width: 28px;
  height: 28px;
  align-self: flex-end;
}
.layout-actionBar {
  grid-area: actionBar;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 50px;
  padding: 0 0.5rem;
}

.layout-body {
  grid-area: body;
  min-height: 240px;
  padding: 0 0.5rem;
}
