.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.navbar-links li {
  display: inline-block;
  padding: 0 20px;
}

.navbar-cta {
  padding: 5px 15px;
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 187, 0);
  color: #222222;
}
