h1,
h2 {
  text-align: left;
  font-stretch: normal;
  font-style: normal;
  font-weight: 300;
  line-height: 1.25;
  color: #212121;
}

h1 {
  width: 100px;
  height: 120px;
  font-family: Quicksand;
  font-size: 96px;
  letter-spacing: -0.14px;
}

h2 {
  width: 78px;
  height: 75px;
  font-size: 60px;
  letter-spacing: normal;
  text-align: left;
}

h5 {
  font-family: Quicksand;
  font-size: 24px;
  font-weight: 500;
  text-align: left;
  color: #212121;
}
