.Screen {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px;
  grid-template-areas: "header" "actionbar" "body";
}

header.page-header {
  display: flex;
  width: 100vw;
  flex-flow: column;
  grid-area: header;
  padding: 15px;
}

header.page-header .page-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.page-title {
  padding: 0 20px;
}

/*
 * Action Bar
*/
.page-actionbar {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px 0 10px;
}

.page-body {
  padding: 10px;
}
